<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Student Management System</h1>
		<hr>
		<h2>Add Student</h2>

		<form action="#" th:action="@{/saveStudent}" th:object="${student}"
			method="POST">
				<input type="text" th:field="*{Name}"
				placeholder="Student Name" class="form-control mb-4 col-4" required pattern="[a-zA-Z]{2,20}" title="the Name declare within 2-20 charactor">
				
				<input type="text" th:field="*{Branch}"
				placeholder="Student Branch Name" class="form-control mb-4 col-4" required pattern="[a-zA-Z]{2,10}" title="the Branch name declare within 2-10 charactor">
				
				<input type="text" th:field="*{Address}"
				placeholder="Student Address" class="form-control mb-4 col-4" required maxlength="45" title="Please enter an valid Address">
				
				<button type="submit" class="btn btn-info col-2"> Save Student</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Student List</a>
	</div>
</body>
</html>